* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-top: 75px; /* To ensure content is not hidden under the fixed header */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    circle,
    #30232a,
    #291f27,
    #221b24,
    #1b1821,
    #14141d,
    #121620,
    #0f1823,
    #0b1a25,
    #07232e,
    #022c35,
    #00363a,
    #063f3c
  );
}

.logo {
  display: flex;
  align-items: center;
}

.logo a img {
  width: 108px;
  height: 48px;
}

nav {
  font-weight: 600;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 35vw;
}

nav ul li {
  list-style: none;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #f2f2f2;
}

.container {
  padding: 20px;
}

#courses,
#pricing,
#community,
#subscription,
#video-section {
  margin: 20px 0;
}

#subscription {
  padding: 20px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 5px;
}

#subscription h2 {
  margin-bottom: 15px;
}

#form {
  display: flex;
  flex-direction: column;
}

#email {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  background-color: #063f3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #022c35;
}

#video {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  display: block;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    width: 100%;
    justify-content: space-between;
  }

  #subscription {
    padding: 10px;
    margin: 10px 0;
  }
}
